@use '../globals/breakpoints.scss' as breakpoints;
@use '../globals/palette.scss' as palette;

.product-qty-summary {
    display: grid;
    grid-template-columns: minmax(500px, 1fr) 200px;
    grid-gap: 80px;
    margin-top: 3rem;
    table {
        align-self: start;
        tr {
            td,
            th {
                &:first-of-type {
                    text-align: left;
                }
                &:last-of-type {
                    text-align: right;
                }
            }
            th {
                padding-bottom: 1rem; 
                border-bottom: 1px solid palette.$navy; 
            }
            td {
                font-size: 14px;
            }
        }
        &.products {
            td {
                height: 40px;
                line-height: 3;
                border-bottom: 1px solid palette.$navy;

                input {
           
                    // ToDo: Needs a class to be added if the value is greater than 0
                    height: 100%;
                    text-align: center;
                    max-width: 30px;
                    color: palette.$navy-faded;
                    background-color: transparent;
                    transition: all 1s;
                    &.filled {
                        color: palette.$navy;
                        background-color: rgba(255,255,255,.25);
                    }
                }
            }
        }
        &.summary {
            width: 100%;
            tr {
                &:first-of-type {
                    td {
                        // border: 1px solid red;
                        padding-top: 14px;
                    }
                }
                td {
                    height: 0;
                    line-height: 1.4;
                }
            }
            .cta {
                width: 100%;
            }
        }
    }
    @include breakpoints.media-breakpoint-down('md'){
        // border: 1px solid red;
        display: block;
        table {
            width: 100%;
            &.summary {
                margin-top: 100px
            }
        }
    }
}