svg {
    // &.logo {
    //     .cls-1 {
    //         fill: #00002a;
    //     }
    // }

    // &.hamburger {
    //     .cls-1 {
    //         fill: #00002a;
    //     }  
    // }

    // &.search {
    //     .cls-1 {
    //         fill: #231f20;
    //     }
    // }
}