$header-max-width: 1024px;
$content-max-width: 874px;



// $stroke-color: #ddd;
// $stroke: 1px solid $stroke-color;

// $stroke-thick: 2px solid $stroke-color;

// $stroke-faint-color: rgba(0,0,0,0.1);
// $stroke-faint: 1px solid $stroke-faint-color;

// $stroke-strong: 1px solid #b3b3b3;
// $input-border-radius: 0;
// $site-input-border: 1px solid $blue;

